footer {
                background-color: #df4627;
                color: white;
                padding: 20px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-top: 0;
}

footer p {
                margin: 0;
}

footer a {
                color: white;
                text-decoration: none;
                transition: opacity 0.3s ease;
}

footer a:hover {
                opacity: 0.8;
}

/* Style Mobile (jusqu'à 767px) */
@media (max-width: 767px) {
                footer {
                                flex-direction: column;
                                gap: 10px;
                                text-align: center;
                }
}